@use '../../variables.scss' as *;
@use '../../mixins.scss' as *;

.welcome-section {
  padding: $spacing-xxl 0;
  background-color: $white;
}

.welcome-image-container {
  @include flex-center;
}

.welcome-image {
  max-width: 100%;
  height: auto;
  border-radius: $border-radius;
  box-shadow: $shadow;
}

.welcome-content {
  padding: $spacing-sm;
}

.welcome-title {
  position: relative;
  margin-bottom: $spacing-lg;
  color: $primary-color;
  
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: $secondary-color;
  }
}

.welcome-text {
  margin-bottom: $spacing-md;
  color: $text-color;
  line-height: 1.8;
  margin-top: 2rem !important;
  
  &:last-child {
    margin-bottom: 0;
  }
}

@include respond-to(md) {
  .welcome-section {
    padding: $spacing-xl 0;
  }
  
  .welcome-image-container {
    margin-bottom: $spacing-lg;
  }
}
